# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Terraform state
infra/terraform.tfstate
infra/*.tfstate.*

# Ignore Terraform state & plugins
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf*
*.tfvars

# Ignore CLI override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive files
*.auto.tfvars

